@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

* {
  font-family: "Mitr", sans-serif;
}

.bg-gatuk {
  background: linear-gradient(
    200deg,
    rgba(92, 30, 166, 1) 0%,
    rgba(200, 67, 94, 1) 100%
  );
}

.home-container {
  width: 80vw;
  border: 0.25rem solid rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1024px) {
  .home-container {
    width: 96vw;
  }
}

.bg-black\/25 {
  background-color: rgba(0, 0, 0, 0.25);
}

.bg-white\/25 {
  background-color: rgba(255, 255, 255, 0.25);
}

.gatuk-heading-subtitle {
  color: #5cffb6;
  text-shadow: rgb(23, 5, 87) 3px 0px 0px,
    rgb(23, 5, 87) 2.83487px 0.981584px 0px,
    rgb(23, 5, 87) 2.35766px 1.85511px 0px,
    rgb(23, 5, 87) 1.62091px 2.52441px 0px,
    rgb(23, 5, 87) 0.705713px 2.91581px 0px,
    rgb(23, 5, 87)-0.287171px 2.98622px 0px,
    rgb(23, 5, 87)-1.24844px 2.72789px 0px,
    rgb(23, 5, 87)-2.07227px 2.16926px 0px,
    rgb(23, 5, 87)-2.66798px 1.37182px 0px,
    rgb(23, 5, 87)-2.96998px 0.42336px 0px,
    rgb(23, 5, 87)-2.94502px -0.571704px 0px,
    rgb(23, 5, 87)-2.59586px -1.50383px 0px,
    rgb(23, 5, 87)-1.96093px -2.27041px 0px,
    rgb(23, 5, 87)-1.11013px -2.78704px 0px,
    rgb(23, 5, 87)-0.137119px -2.99686px 0px,
    rgb(23, 5, 87) 0.850987px -2.87677px 0px,
    rgb(23, 5, 87) 1.74541px -2.43999px 0px,
    rgb(23, 5, 87) 2.44769px -1.73459px 0px,
    rgb(23, 5, 87) 2.88051px -0.838247px 0px;
}

.gatuk-input-form {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px rgba(255, 255, 255, 0.7) solid;
}

.gatuk-button-form {
  background-color: #fff;
  box-shadow: 0px 6px 0px 0px#301a6b;
  color: #301a6b;
}

.gatuk-button-form:hover {
  background-color: #a4a4a4;
  transition: all 0.3s;
}

.gatuk-border-how-to-play {
  border: 0.25rem solid rgba(0, 0, 0, 0.25);
}

.gatuk-word {
  color: #301a6b;
}

#get-word-container {
  scrollbar-color: #b84dd1 #d0d0d0;
}
